@page "/myorders"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="main">
    @if (_orderWithStatus == null)
    {
        <text>Loading...</text>
    }
    else if (!_orderWithStatus.Any())
    {
        <h2>No orders placed</h2>
    }
    else
    {
        <div class="list-group orders-list">
            @foreach (var item in _orderWithStatus)
            {
                <div class="list-group-item">
                    <div class="col">
                        <h5>@item.Order.CreatedTime.ToLongDateString()</h5>
                        Items:
                        <strong>@item.Order.Pizzas.Count()</strong>
                        Total price:
                        <strong>@item.Order.GetFormattedTotalPrice()</strong>
                    </div>
                    <div class="col">
                        Status: <strong>@item.StatusText</strong>
                    </div>
                    @if (item.StatusText != "Delivered")
                    {
                        <div class="col flex-grow-0">
                            <a href="myorders/@item.Order.OrderId" class="btn btn-success">
                                Track &gt;
                            </a>
                        
                        </div>
                    }
                </div>
               
            }
        </div>
    }
</div>

@code {
    List<OrderWithStatus> _orderWithStatus = new();

    protected override async Task OnParametersSetAsync()
    {
        _orderWithStatus = await HttpClient.GetFromJsonAsync<List<OrderWithStatus>>($"{NavigationManager.BaseUri}orders");
    }

}