@page "/employee"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<h3>Employee</h3>

<table>
    @foreach (var e in Employees)
    {
        <tr>
            @*<td>@e.Name</td>*@
        </tr>
    }
    
</table>


@code {

    public List<Employee>? Employees { get; set; } = new List<Employee>();


    protected override async Task OnInitializedAsync()
    {
        Employees = await HttpClient.GetFromJsonAsync<List<Employee>>($"{NavigationManager.BaseUri}api/Employees");
    }

}
